<div class="row">
	<div class="col-lg-12">
		<h1>Estad&iacute;sticas</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="form-group">
			<div class="col-sm-3">
				<select class="form-control" ng-model="filtro.mes">
					<option value="">Mes</option>
					<option value="ENERO">Enero</option>
					<option value="FEBRERO">Febrero</option>
					<option value="MARZO">Marzo</option>
					<option value="ABRIL">Abril</option>
					<option value="MAYO">Mayo</option>
					<option value="JUNIO">Junio</option>
					<option value="JULIO">Julio</option>
					<option value="AGOSTO">Agosto</option>
					<option value="SEPTIEMBRE">Septiembre</option>
					<option value="OCTUBRE">Octubre</option>
					<option value="NOVIEMBRE">Noviembre</option>
					<option value="DICIEMBRE">Diciembre</option>
				</select>
			</div>
			<div class="col-sm-3">
				<select class="form-control" ng-model="filtro.semana" ng-disabled="filtro.mes == ''">
					<option value="">Semana</option>
					<option value="PRIMERA">Primera</option>
					<option value="SEGUNDA">Segunda</option>
					<option value="TERCERA">Tercera</option>
					<option value="CUARTA">Cuarta</option>
					<option value="QUINTA">Quinta</option>
				</select>
			</div>
			<div class="col-sm-3">
				<select class="form-control" ng-model="filtro.temporada">
					<option value="">Temporada</option>
					<option value="VERANO">Verano</option>
					<option value="OTONIO">Oto&ntilde;o</option>
					<option value="INVIERNO">Invierno</option>
					<option value="PRIMAVERA">Primavera</option>
				</select>
			</div>
			<div class="col-sm-3">
				<button class="btn btn-primary form-control" ng-click="filtrar()" ng-disabled="filtro.mes == '' || filtro.temporada == ''">Filtrar</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12" ng-show="recetasMasCopiadas.length > 0">
		<h2>Recetas m&aacute;s copiadas</h2>
		<div class="list-group">
			<a href="#receta/{{ receta.id }}" ng-repeat="receta in recetasMasCopiadas track by $index" class="list-group-item">
				<span>{{ receta.nombre }} <small>- {{ receta.autor }}</small></span>
				<span class="badge">{{ receta.puntaje }}</span>
			</a>
		</div>
	</div>
	<div class="col-lg-12" ng-show="recetasFiltradas.length > 0">
		<h2>Recetas filtradas</h2>
		<div class="list-group">
			<a href="#receta/{{ receta.id }}" ng-repeat="receta in recetasFiltradas track by $index" class="list-group-item">
				<span>{{ receta.nombre }} <small>- {{ receta.autor }}</small></span>
				<span class="badge">{{ receta.puntaje }}</span>
			</a>
		</div>
	</div>
</div>